<?xml version="1.0" encoding="UTF-8"?> 
<Configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- Appenders -->
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p: %c - %m%n" />
		</Console>
    </Appenders>
    
    <!-- Application Loggers -->
    <!--  
    jdbc: OFF
    jdbc.sqlonly: OFF
    jdbc.sqltiming: DEBUG
    jdbc.sqlaudit: OFF
    jdbc.resultset: OFF
    jdbc.resultsettable: OFF
    jdbc.connection: OFF
    -->
    <Loggers>
        <Logger name="jdbc" level="OFF" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.sqlonly" level="OFF" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.sqlaudit" level="OFF" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.resultset" level="OFF" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.resultsettable" level="OFF" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.connection" level="OFF" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="egovframework.mybatis" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="egovframework" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
     </Loggers>
</Configuration>
