<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
            th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <style>
        tr.text-center th {
            text-align: center;
        }

        tr.text-center td {
            text-align: center;
        }
    </style>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            $("#searchBtn").click(function () {
                $("#searchForm").submit();
            });

            $("#allchk").click(function () {
                $("input[name='delchk']").prop("checked", $("#allchk").is(":checked"));
            });

            $("#btndelete").click(function () {
                const size = $("input[name='delchk']:checked").length;
                if (size === 0) {
                    alert("삭제할 글을 선택해주세요");
                } else {
                    const delchk = [];
                    $("input[name='delchk']:checked").each(function () {
                        delchk.push($(this).val());
                    });
                    $.ajax({
                        url: /*[[@{/board/delete}]]*/ "/board/delete",
                        type: "POST",
                        // data : JSON.stringify({"idx" : idx}),
                        data: {delchk: delchk},
                        // contentType: "application/json",	// contentType으로 지정하면 Request Body로 전달되기 때문에 Spring에서 받을때 다르게 접근해야 한다
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            alert("삭제되었습니다");
                            location.href = /*[[@{/board/list}]]*/ "/board/list";
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("삭제에 실패했습니다");
                            let responseJSON = jqXHR.responseJSON;
                            let message = responseJSON.message;
                            console.log(message);
                        }
                    });
                    // alert("삭제할 글은 총 " + size + "개 입니다")
                }
                return false;
            });
        });
    </script>

</head>
<body>
<div class="container">
    <h1>게시판</h1>
    <form id="searchForm" name="searchForm" method="get" th:object="${searchVO}">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-2">
                <div class="form-group ">
                    <select id="searchType" name="searchType" class="form-control" th:field="*{searchType}">
                        <option value="">선택해주세요</option>
                        <option value="title">제목</option>
                        <option value="contents">내용</option>
                    </select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <input type="text" class="form-control" name="searchWord" th:field="*{searchWord}"
                           placeholder="검색어를 입력해주세요">
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" id="searchBtn" class="btn btn-primary btn-block">검색</button>
            </div>
        </div>
        <input type="hidden" id="pageNo" name="pageNo" th:field="*{pageNo}"/>
        <input type="hidden" id="pageSize" name="pageSize" th:field="*{pageSize}"/>
    </form>
    <table class="table table-hover">
        <thead>
        <tr class="text-center">
            <th class="col-md-1"><input type="checkbox" id="allchk" value="Y"></th>
            <th class="col-md-1">번호</th>
            <th class="col-md-8">제목</th>
            <th class="col-md-2">등록일자</th>
        </tr>
        </thead>
        <tr th:if="${result.totalElements == 0}">
            <td class="text-center" colspan="5" th:text="#{board.noresults}">검색된 결과가 없습니다12345</td>
        </tr>
        <tr th:if="${result.totalElements > 0}" th:each="board,iter : ${result.boardResults}">
            <td class="text-center"><input type="checkbox" name="delchk" th:value="${board.idx}" value="Y"></td>
            <td class="text-center"
                th:text="${result.totalElements - ((result.pageNo - 1) * result.pageSize) - iter.index}">20
            </td>
            <td th:with="url='/board/view'">
                <a th:queryStringLink="@{${url}(idx=${board.idx},pageNo=${result.pageNo},pageSize=${result.pageSize})}"
                   href="/board/view" th:text="${board.title}">게시물 제목</a>
            </td>
            <td class="text-center" th:text="${#temporals.format(board.regdate, 'yyyy-MM-dd')}">2018-03-10</td>
        </tr>
    </table>
    <a id="btndelete" href="#" class="btn btn-default pull-right">삭제</a>
    <a id="btnwrite" th:href="@{'/board/insert'}" class="btn btn-default pull-right">글쓰기</a>
    <div th:if="${result.pageCnt > 0}" th:with="url='/board/list'" class="text-center">
        <th:block
                th:include="/include/pagination :: pagination(${result.pageNo}, ${result.pageSize}, ${result.pageCnt}, 10, ${url})"></th:block>
    </div>
</div>
</body>
</html>